* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::after {
	box-sizing: border-box;
}
*::before {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

.home-header {
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	box-shadow: 0 2px 5px rgb(0 0 0 / 16%);

	& .logo {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-left: 32px;

		& .text {
			margin-left: 6px;
		}
	}

	& .gh .gh-icon {
		margin-right: 32px;
		cursor: pointer;
	}
}
