.usage {
  font-weight: 400;
  line-height: 36px;
  & .caption {
    font-size: 14px;
    margin-bottom: 20px;
  }
  & h1 {
    font-size: 30px;
    margin: 20px 0;
  }
  & .command {
    margin-top: 20px;
    font-size: 14px;
    & .command-npm,
    & .command-yarn {
      padding: 8px 20px;
      border-radius: 4px;
      color: #000;
      background-color: #f5f5f5;
      font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    }
  }
}

.usage-example {
  & h2 {
    margin-bottom: 32px;
  }
}
